.color-squares-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: 5px;
}

.color-square {
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
}
