.color-squares-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: 5px;
}

.color-square {
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.color-square:hover {
  /* This makes it "pop" or grow slightly */
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
