.color-squares-container {
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-rows: 2/4;
  place-items: center;
}

.color-square {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
}
