.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  background-color: var(--toggle-active);
  width: 100%;
  padding: 18px 0;
  border-radius: 10px;
}
