.display-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.color-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 10px 10px var(--bg-dark); */
  margin: 0 auto;
  width: 85%;
  max-width: 500px;
  height: 7rem;
  color: var(--text-dark);
  background-color: white;
  border-radius: 15px;
}

.color-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.btn-group {
  margin: 3rem 0;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.colors-container {
  border-top: 1px solid var(--btn-primary-text);
  padding: 0.4rem 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  place-items: center;
}
