.toggle-container {
  width: 100%;
  height: 5rem;
  display: flex;
  place-items: center;
}

.mode-toggle {/*TODO add moving border around this to give it liquid glass effect*/
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  background-color: var(--toggle-bg);
  width: 90%;
  max-width: 500px;
}

.mode-btn {
  background: transparent;
  margin: 0 0.3rem; /*TODO n medium screens try to  make this 1rem*/
  border: none;
  text-transform: uppercase;
  color: var(--toggle-text);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 0.5rem; /*TODO on medium screens make this 0.5rem 1rem*/
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.active {
  background-color: var(--toggle-active);
  color: white;
  box-shadow: 0 5px 15px var(--toggle-shadow);
}
