.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background: var(--bg-gradient);
}

/* glass effect */
.glass-card {
  background-color: var(--glass-bg);
  border: 1px solid var(--glass-border);
  border-radius: 12px;
  padding: 0 15px;
  margin-top: 2rem;
  width: 85%;
  max-width: 500px;
  backdrop-filter: blur(var(--glass-blur-amount));
  -webkit-backdrop-filter: blur(
    var(--glass-blur-amount)
  ); /*  Safari compatibility */
  box-shadow: 0 4px 30px var(--glass-shadow);
}

.text-area {
  text-align: center;
}

.btn-primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover);
}

.btn-secondary {
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.btn-secondary:hover {
  background-color: var(--btn-secondary-hover);
}
